<header class="edit__header">
  <%= render "checklists/edit_header", checklist: @checklist %>
</header>
<main class="edit__main">
  <div class="checklist">
    <div class="checklist__header">
      <div class="checklist__name"
           contenteditable="true"
           data-controller="editing"
           data-editing-target="item"
           data-action="focusout->editing#save"
           data-id="<%= @checklist.id %>"
           data-route="checklists"
           data-type="name">
        <%= @checklist.name %>
      </div>
      <div class="checklist__dates">
        <div class="checklist__date">
          <i class="bx bx-play-circle"></i>
          <div>
            Start on : <%= @checklist.start_date.strftime('%d/%m/%Y')%>
          </div>
        </div>
        <div class="checklist__date">
          <i class="bx bx-stop-circle"></i>
          <div>
            Target on : <%= @checklist.estimated_end_date.strftime('%d/%m/%Y') %>
          </div>
        </div>
      </div>
      <div class="checklist__description"
           contenteditable="true"
           data-controller="editing"
           data-editing-target="item"
           data-action="focusout->editing#save"
           data-id="<%= @checklist.id %>"
           data-route="checklists"
           data-type="description">
        <%= @checklist.description %>
      </div>
    </div>
    <div class="checklist__content">
      <div class="checklist__sections" data-controller="drag" data-route="/sections">
        <% @checklist.sections.order(position: :asc).each do |section| %>
          <%= render "sections/section", section: section %>
        <% end %>
        <div class="add-button"
            data-controller="editing"
            data-editing-target="button"
            data-action="click->editing#add"
            data-parent-id="<%= @checklist.id %>"
            data-new-item="section">
          <i class='bx bx-plus'></i>
          <div>Add a new section</div>
        </div>
      </div>
    </div>
  </div>
</main>
