<main class="app__container">
  <header class="app__header">
    <div class="app__header--left">
      <h1><%= @checklist.name %></h1>
      <div class="header__options">
        <div data-controller="dropdown" class="relative">
          <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="dropdown__button"><i class='bx bx-cog'></i></button>
          <div data-dropdown-target="menu" class="hidden dropdown__list">
            <%= render "shared/modal", route: "/checklists/#{@checklist.id}" %>
            <%= link_to 'Delete', checklist_path(@checklist), data: {turbo_method: :delete, action: "dropdown#toggle" } %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to edit_checklist_path(@checklist), class: "button--primary" do %>
      <i class="bx bx-edit"></i>
      Edit
    <% end %>
  </header>
  <div class="app__content">
    <div class="tabs">
      <%= link_to "Completion", "#", class: "tabs__link tabs__link--active" %>
      <%= link_to "Share", "#", class: "tabs__link" %>
      <%= link_to "Settings", "#", class: "tabs__link" %>
      <%= link_to "Integrations", "#", class: "tabs__link" %>
    </div>
  </div>
</main>
