<!DOCTYPE html>
<html>
  <head>
    <title>Steeepz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="page-wrapper">
      <%= render "shared/sidebar", workspaces: policy_scope(Workspace) if @show_sidebar %>
      <%= render "shared/navbar" unless @show_sidebar %>
      <%= yield %>
      <%= render "shared/flashes" %>
    </div>
  </body>
</html>
